/* .slider {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  cursor: grab;
} */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  /* perspective: 1000px; */
}

.slider-container {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.card {
  transform-origin: bottom center;
}

.poster {
  flex: 0 0 auto;
  width: 150px;
  height: 200px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
}



/* .hidden {
  display: none;
} */